@model IEnumerable<CarRentWebApplication.Brand>

@{
    ViewData["Title"] = "Index";
}

<h1>Марки</h1>

<p>
    <a asp-action="Create">Додати нову</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    <div id="chart2"></div>
</div>

@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js">
const { data } = require("jquery");
</script>;
<script>
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

     function drawChart(){
         $.get('/api/Diagram/JsonData', function(JsonData){
             data = google.visualization.arrayToDataTable(JsonData, false);
             var option = {
                 title: "Співвідношення кількості автомобілів та марок",
                 width: 500,
                 height: 400
             };
             chart = new google.visualization.PieChart(document.getElementById('chart2'));
             chart.draw(data, option);
         })
     }
</script>
}